<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>VyperCMS v2.0.0 &copy; 1990-2010, Vyper Logix Corp., All Rights Reserved.</title>
<script src="_dynamic.js" language="javascript" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
function debug(s) {
	var c = document.getElementById('debugger');
	if (c) {
		c.innerHTML += s+'<br/>';
	}
}

function onLoadSWFObject(){
	var s=generate_flash_content(10,0,0,'SwfLoader/SwfLoader.swf?swf=/flash/worldmap-v3-flash8a.swf&width=180&height=180',300,300,'worldmap_v3_flash8a','worldmap_v3_flash8a','white','http://www.vyperlogix.com','VLC-splash-257x180.jpg','21st Century Innovation with Vyper Logix Corp.'); 
	var c = document.getElementById('flashContainer');
	if (c) {
		c.innerHTML = s;
		RightClick.init('worldmap_v3_flash8a','flashContainer');
	}
}

_onload = function () {
	var ie  = !!(window.attachEvent && !window.opera);
	var wk  = /webkit\/(\d+)/i.test(navigator.userAgent) && (RegExp.$1 < 525);
	if (ie) {
		var c = document.getElementById('container');
		if (c) {
			c.innerHTML = '<p>You can <a href="http://www.google.com/chrome" target="_blank">download Google Chrome</a> or <a href="http://www.mozilla.com/en-US/products/firefox/" target="_blank">download Mozilla FireFox</a></p><p>Come back with one of the supported browsers...</p>';
		}
		alert('This site is best viewed using Google Chrome or Mozilla FireFox 3.x however you are using IE so stop it !');
	}
	include_css('vypercms-main-full-page.css');
	include_css('2-column-layout.css');
	include_js('AC_OETags.js',function(){ include_js('rightClick.js',onLoadSWFObject) });
};
</script>
</head>

<body class="oneColLiqCtrHdr" onload="_onload();">

<div id="container">
  <div id="header">
    <div class="mask">
        <div class="colleft">
        </div>
        <div id="flashContainer" class="col1" style="padding-top:10px;"></div>
        <div id="logoContainer" class="col2">
        	<table width="100%">
            	<tr>
                	<td>
                    	<font face="Verdana, Geneva, sans-serif" size="+4">Vyper Logix Corp.</font>
                    </td>
                </tr>
            	<tr>
                	<td>
                    	<font face="Verdana, Geneva, sans-serif" size="+2">Next-Generation Innovation Today !</font>
                    </td>
                </tr>
            	<tr>
                	<td>
                    	<font face="Verdana, Geneva, sans-serif" size="+1"><a href="vypercms-main-full-page.html" target="_top">Home</a></font>
                    </td>
                </tr>
            </table>
        </div>
        <div id="infoContainer" class="col3"></div>
    </div>
  </div>
  <div id="debugger">
  </div>
  <div id="mainContent">
    <h1>Get your Python/Django Project running in the Google App Engine today !</h1>
    <p>We do all the work to port your Python/Django Project to the Google App Engine.</p>
    <h2>Features:</h2>
	<UL>
    	<LI>Your Python/Django Project once ported to the Google App Engine will have the following features:
        	<UL>
            	<LI>Admin GUI Support - You will be able to login to the familiar Django Admin with all the features and functions therein.</LI>
            	<LI>Database backup/restore using JSON - we provide you with the ability to download JSON from your database to backup your data as well as upload JSON.</LI>
            </UL>
        </LI>
    </UL>
    <h2>We do all the work !</h2>
    <p>Once we have your Python/Django source code we will do all the work and give you back a fully configured Google App Engine Project you can upload to your Google App Engine Account.</p>
    <h2>Scalability:</h2>
	<UL>
    	<LI>We can configure your Google App Engine Projects to grow beyond the typical limits placed on your Google App Engine Application.
        	<UL>
            	<LI>This allows your Google App Engine Application to use more resources than Google typically allows without having to pay Google any money at-all.</LI>
            	<LI>Build your Google App Engine Application by using Django 1.1.1 today with complete confidence in the Enterprise-level world-class App you want.</LI>
            </UL>
        </LI>
    	<LI>We can configure your Google App Engine Projects to hide your JavaScript from view.
        	<UL>
            	<LI>We have a uniquely Secure method known as SecureScript&trade; that hides your JavaScript from view.</LI>
            	<LI>SecureScript&trade; maintains the security of your JavaScript by keeping your JavaScript from being viewed by those who typically know how to view your JavaScript when it has not been secured using SecureScript&trade;.</LI>
            </UL>
        </LI>
    	<LI>We can configure your Google App Engine Projects to Secure your valuable data you want to store in the Google Cloud.
        	<UL>
            	<LI>We can configure your Django 1.1.1 Project to use encryption to hide any or all of your valuable data from being indexed by Google.</LI>
            	<LI>You can be sure nobody will ever see your valuable data once we have secured it using our unique Encryption methods.</LI>
            </UL>
        </LI>
    	<LI>We can License you a copy of our award winning Content Management System known as VyperCMS&trade;.
        	<UL>
            	<LI>VyperCMS&trade; allows you to build and deploy your content faster at a much lower cost than would be possible otherwise.</LI>
            	<LI>VyperCMS&trade; knows Social Networking.</LI>
            	<LI>VyperCMS&trade; knows Blogging.</LI>
            	<LI>VyperCMS&trade; knows Wiki.</LI>
            	<LI>VyperCMS&trade; knows performance.</LI>
            	<LI>VyperCMS&trade; knows how to leverage the Google App Engine.</LI>
            	<LI>VyperCMS&trade; knows SalesFoce.Com.</LI>
            	<LI>VyperCMS&trade; knows YOU !</LI>
            </UL>
        </LI>
    </UL>
    <h2>Get a FREE Quote today !</h2>
	<UL>
    	<LI>Drop us a line today to get started, <a href="mailto:sales@vyperlogix.com?subject=What will it cost to port my Django App to the Google App Engine&body=My Django Project is attached as a ZIP file, take a look at it and let me know what you think.  Thanks again.">sales@vyperlogix.com</a></LI>
    </UL>
	<!-- end #mainContent --></div>
  <div id="footer">
    <p style="font-size:13px">&copy;1990-2010, Vyper Logix Corp., All Rights Reserved., Powered by VyperCMS v2.0 Content Management System running in the Google Cloud...</p>
  <!-- end #footer --></div>
<!-- end #container --></div>
</body>
</html>
